@import "compass";
@import "compass/reset";
body, html{
	height: 100%;
	font-family: arial;
	min-width: 530px;
	background-color: white;
	&.framed-tablet-v{
		min-width: 1000px;
	}
	&.framed-tablet-h{
		min-width: 1300px;
	}
	&.framed-mobile{
		min-width: 550px;
	}
}
.hide{
	display: none;
}
#header{
	position: relative;
	height: 80px;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 530px;
	background-color: black;
	z-index: 10;
	@include box-shadow(0 -2px 0 white inset);
	a.btn {
		color: white;
		text-transform: uppercase;
		background-color: #282828;
		padding: 10px 15px 10px 50px;
		border: solid 1px #999999;
		font-size: .75em;
		font-weight: normal;
		text-decoration: none;
		float: right;
		position: relative;
		top: 16px;
		margin-right: 18px;
		@include border-radius(5px);
		&:hover{
			background-color: #484848; 
		}
		@media (max-width: 600px){
			display: none;
		}
	}
	.btn-download{
		background: url('/img/btn-download.png') 8px center no-repeat 
	}
	.btn-explore{
		background: url('/img/btn-explore.png') 20px center no-repeat 
	}
}
.btn-collapse{
	position: absolute;
	background: url('/img/collapse.png') center -5px no-repeat white;
	top: 78px;
	left: 15px;
	width: 50px;
	height: 30px;
	z-index: 9999;
	line-height: 30px;
	@include border-radius(2px);
	&.collapsed{
		height: 40px;
		background: url('/img/collapse.png') center -40px no-repeat white;
		top: -5px;
	}
}
#logo{
	width: 212px;
	@media (max-width: 600px){
		margin: 0 auto;
	}
}
#logo img{
	position: relative;
	max-width: 100%;
	top: 10px;
	left: 15px;
	float: left;
	height: 55px;
	margin-right: 30px;
}
#devices{
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		display: inline-block;
		float: left;
		margin-right: 10px;
		a {
			@include single-transition(all,.5s,ease-in-out);
			@include opacity(.6);
			&.active, &:hover {
				@include opacity(1);
			}
		}
	}
	@media (max-width: 900px){	
		display: none;
	}
}
#devices a, #devices a img{
	text-decoration: none;
	border: none;
}
#loadingMessage{
	position: fixed;
	top: 150px;
	display: block;
	padding: 4px;
	background-color: white;
	left: calc(50% - 40px/2);
	z-index: 9999;
	text-align: center;
	@include border-radius(5px);
	@include box-shadow(0 0 15px black);
}
#iframe-container{
	position: relative;
	z-index: 9;
	@include single-transition(all,0.2s,ease-in-out);
	#iframe-wrapper{
		margin: 0 auto;
		@include single-transition(all,0.2s,ease-in-out);
		iframe{
			position: relative;
			width: 100%;
			height: 100%;
			background-color: #333333;
			@include single-transition(all,0.1s,ease-out);
		}
	}
}
#iframe-container.desktop{
	height: calc(100% - 85px);
	width: 100%;
	#iframe-wrapper{
		width: 100%;
		height: 100%;
		iframe{
			top: 0;
		}
	}
}
#iframe-container.tablet-h{
	top: 20px;
	height: 1090px;
	width: 100%;
	background: url(/img/view-tablet-h.png) top center no-repeat;
	#iframe-wrapper{
		display: block;
		width: 1024px;
		height: 768px;
		iframe{
			top: 105px;
		}
	}
}
#iframe-container.tablet-v{
	top: 10px;
	height: 1345px;
	width: 100%;
	background: url(/img/view-tablet-v.png) top center no-repeat;
	#iframe-wrapper{
		display: block;
		width: 768px;
		height: 1024px;
		iframe{
			top: 130px;
		}
	}
}
#iframe-container.mobile{
	top: 10px;
	height: 910px;
	width: 100%;
	background: url(/img/view-mobile.png) top center no-repeat;
	#iframe-wrapper{
		display: block;
		height: 595px;
		width: 335px;
		position: relative;
		iframe{
			top: 149px;
		}
	}
}
